#body {
    background-size: cover; 
    background-repeat:no-repeat;
    width: 100%;
    font-family: 'Century Gothic', sans-serif;
}

.index{
    text-align: center;
    margin-top: 10px;
}

.center-image {
    background-image: url(../img/cars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px; /*Altura de la imagen*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#vehiculo-add, #vehiculo-list, #vehiculo-register, #vehiculo-login{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Titulo de encabezados*/
.title{
    color: black;
}
/*Texto de apoyo al login y registro*/
#login, #registro{
    color:green;
    font-size: 20px;
}
/*Color alto, medio y bajo*/
.precio.alto {
    background-color: red;
}

.precio.medio {
    background-color: orange;
}

.precio.bajo {
    background-color: blue;
}

.precio.raios {
    background-color: gray;
}



#card-list{
    background: hsla(0, 100%, 100%, 0.6);
}
#list-tabla > th{
    font-size: 18px;
    font-weight: bold;
}

/*Boton enviar de add.html*/
#btn-submit{
    background-color: blue;
}

button{
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background: green;
    color: #050801;
    box-shadow: 0 0 5px green,
                0 0 25px green,
                0 0 50px green,
                0 0 200px green;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#index{
    text-align:center;
    width: 100%;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
    color: #F5FFCB;
    font-style: oblique;
    font-size: 80px;
}
/*Opciones de footer*/

footer {
    background-color: #333;
}

.footer-container {
    background-color: green;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #333;
}

.footer-container footer {
    flex-basis: 100%;
    background-image: none;
}

.footer-container p {
    margin: 0;
}

.footer-container .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-container .social-icons li {
    margin: 0 10px;
}

.footer-container .social-icons li a {
    display: block;
}

#text-footer{
    color: white;
    text-align: center;
}

/*Desplazamiento de marcas*/

.brands-container {
    overflow: hidden;
  }
  
  .brands-list {
    width: fit-content;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: scrollBrands 20s linear infinite;
  }
  
  .brand-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .brand-logo {
    width: 50px;
    height: auto;
  }
  
  @keyframes scrollBrands {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
